<div class="container-fluid ">
    <div class="row pt-5">
        <div class="col-12 text-center" >
            <div>
                <img class="non-retina" src="assets/img/brand.png" style="height:100px" alt="PropertyMe">
            </div>
            <div  class="card-text text-center">
                <i class="icon-error"></i> Client Access is unavailable for a short while; there appears to be a server problem. Please try again soon.
            </div>
            <div class="card-text clearfix pt-4">
                <a class="text-muted pr-2" href (click)="return()">Try again</a>
            </div>
        </div>
    </div>
</div>
