<div class="" ng-controller="ownerPropertyCardJobsController as vmJobs">
    <div ng-if="!!vmJobs.Jobs">
        <h3 class="underline">Jobs</h3>
        <div class="padding-hbase">
            <ul class="unstyled">
                <li ng-if="vmJobs.Jobs.length === 0" class="text-muted">No jobs</li>
                <li ng-repeat="job in vmJobs.Jobs.first(vmJobs.showThisMany)"
                    class="clearfix mgb-6 pm-panel position-r cursor-pointer"
                    ng-class="{'inActive': job.ClosedOn}"
                    >



                    <a href="#/property/{{vm.id}}/job/{{job.Id}}?OwnershipId={{vm.ownershipId}}" class="hidden-wrapper-link"></a>
                    <div class="pull-left" style="width:6em;">
                        <span ng-show="!job.ClosedOn" class="label label-info label-sm" >in progress</span>
                        <span ng-show="job.ClosedOn" class="label label-finished label-sm" >&nbsp; completed &nbsp;</span>
                    </div>
                    <div class="pull-right text-right">

                        <small>{{job.DateToShowMsg}}</small>
                        {{job.DateToShow | date}}


                    </div>
                    <div style="padding-left: 4em">

                            {{job.Summary}}

                    </div>



                </li>
                <li ng-if="vmJobs.showThisMany < vmJobs.Jobs.length" class="text-right">
                    <a href="" class="" ng-click="vmJobs.showThisMany = vmJobs.showThisMany + 3;">
                        Show more jobs
                    </a>
                </li>
            </ul>
        </div>
        <p class="v-space-24"></p>
    </div>
</div>
