<div class="disp-ib position-r photo-list-container inspection-photo-list-container" >
    <div ng-if="isLoading" class="z0 mgt-4 mgl-6" style="height:280px; width: 280px;">
        <p class="v-space-24"></p>

        <div class="block-center text-center text-muted"> Loading
            <i class="icon-refresh icon-spin"></i>
        </div>
    </div>
    <!--Must work for >= IE 9, so we cannot use Flex-->
    <div class="position-r clearfix" ng-if="!isLoading">
        <div class="pull-right position-r photo-thumbnail-container" ng-if="list.length > 1">
            <div class="bg-lightgrey no-wrap z0" style=" overflow-y: auto; overflow-x: hidden; height: 330px;"
                 id="photo-thumbnail-scrolling-panel">

                <div class="text-center" style="font-size:0;">
                    <!--font-size: 0 stops any white space from appearing between or around the div.disp-ib-->
                    <div ng-repeat="p in list"
                         class="block-center photo-background-cover photo-thumbnail cursor-pointer"
                         ng-style="{'background-image': 'url({{getLittleSrc(p)}})'} "
                         ng-class="{'selected': mainPhoto == p}" ng-click="setPhoto($index)"><p>{{getLittleSrc(p)}}</p></div>
                </div>
            </div>
        </div>
        <div class="position-r bg-lightgrey  " style="overflow: hidden;">
            <div ng-if="validMainPhoto()" class="cursor-pointer block-center own-inspection-main-photo-container"
                 ng-style="{'background-image': 'url({{getLittleSrc(mainPhoto)}})' }" ng-click="lightbox()"
                 style="background-image: url('{{getLittleSrc(mainPhoto)}}');"></div>
            <div ng-if="!validMainPhoto()" style="height:330px; width:380px; vertical-align: middle;"
                 class="center-vertical-container border-solid text-center bg-white">
                <i class="icon-picture icon-3x muted center-vertical"></i>
            </div>
            <div class="position-a padding-hbase padding-vbase text-center" ng-if="showNotes && mainPhoto.Note"
                 style="bottom:0; left: 0; right: 0; background: rgba(30,30,30,0.85); color:  white;">
                {{mainPhoto.Note}}
            </div>
            <div ng-if="prevPhoto" ng-click="prev()" class="prev-photo-container">
                <i class="icon-angle-left icon-3x"></i>
            </div>
            <div ng-if="nextPhoto" ng-click="next()" class="next-photo-container">
                <i class="icon-angle-right icon-3x"></i>
            </div>
        </div>
    </div>
</div>
